.course-card-div {
  padding: 16px;
  width: 312px;
  /* height: 403px; */
  background: #ffffff;
  border-radius: 24px;
}

.course-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #363a3d;
}
.review-number {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #52565c;
}
.hr {
  width: 312px;
  height: 0px;
  border: 1px solid #e7e9eb;
}
.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: #1b1d1f;
}
.svg1 {
  border-radius: 100%;
  color: #ffb662;
}
.svg1 svg {
  border-radius: 100%;
  stroke: white;
}
.svg1 svg rect {
  fill: #ffb053;
}
/* .svg1:hover svg {
  color: white;
  background-color: #ffb662;
} */
