.course-card-div {
  padding: 16px;
  width: 312px;
  /* height: 403px; */
  background: #ffffff;
  border-radius: 24px;
}

.course-name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #363a3d;
}
.review-number {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #52565c;
}
.hr {
  width: 312px;
  height: 0px;
  border: 1px solid #e7e9eb;
}
.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: #1b1d1f;
}
.svg1 {
  padding: 16px;
  width: 44px;
  height: 44px;
  background: linear-gradient(
    180deg,
    rgba(255, 194, 122, 0.12) 0%,
    rgba(255, 163, 55, 0.12) 100%
  );
  border-radius: 1000px;
}
