.feedback-card-div {
  padding: 32px;
  width: 424px;
  height: 286px;
  background: #ffffff;
  border-radius: 30px;
}

.customer-name {
  width: 149px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.002em;
  color: #000000;
}
/* .customer-name:hover {
  color: white;
} */
.customer-position {
  width: 115px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
/* .customer-position {
  color: white;
} */
.customer-feedback {
  width: 354px;
  height: 120px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #363a3d;
}
/* .customer-feedback:hover {
  color: white;
} */
