@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.widthClass {
  @apply mx-2 md:mx-4 lg:mx-6 xl:mx-auto max-w-[1320px];
}

.commonBtn {
  width: 167px;
  height: 48px;
  padding: 12px 24px;
  background: linear-gradient(180deg, #ffc27a 0%, #ffa337 100%);
  border-radius: 100px;
  /* Inside auto layout */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* Gray/White */
  color: #ffffff;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  color: #21212f;
  padding-bottom: 16px;
}
.color-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 72px;
  color: #3461fd;
}
.paragraph-tag {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* Gray/500 */
  color: #6d737a;
  padding-bottom: 48px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
